* {margin: 0; padding: 0; box-sizing: border-box;}
/* reset */
@font-face {
    font-family: "Spotify";
    src: url(Circular\ Font\ Family/CircularSpotifyText-Light.otf);
}
@font-face {
    font-family: "SpotifyMedium";
    src: url(Circular\ Font\ Family/CircularSpotifyText-Medium.otf);
}
@font-face {
    font-family: "SpotifyBold";
    src: url(Circular\ Font\ Family/CircularSpotifyText-Bold.otf);
}

body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Spotify;
}


#menu {
    top: 0;
    position: fixed;
    background-color: #4A9F67;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    opacity: 1;
    z-index: 100;
}

#menu img {
    height: 90px;
    justify-self: left;
    margin-left: 10px;
}

#menuSep {
    flex: 3;
}

#menu ul {
    justify-self: right;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

#menu ul li {
    list-style: none;
}

#menu hr {
    margin: 5px;
    display: inline;
    width: 1px;
    height: 110%;
    border: 1px solid gray;
}

#menu ul li a {
    text-decoration: none;
    color: #A5D5F7;
}

#home {
    display:flex;
    flex-direction:column;
    height: 100vh;
    background-color: rgba(26,169,255,0.3);
}
#accueilMain{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:3;
    background-color:rgba(26,169,255,0.3);;
}
#homeHeader{
    flex:1;
    background-color: rgba(26,169,255,0.3);;
}
#boxContainer{
    display:flex;
    flex-direction:column;
    margin-left:5%;
    margin-right:5%;
}
#accueilTextBox{
    display:flex;
    flex:1;
    font-family:SpotifyBold;
    color:white;
    background-color:rgba(165,65,65,0.74);
    font-size: 2rem;
    border-radius:25px;
    margin-left:10%;
    margin-right:10%;
    justify-content: center;
    align-items:center;
}

#emptyBlock{
    flex:1;
}
#containerTextBox{
    display:flex;
    /* min-width: 400px; */
    flex:1;
    font-family:SpotifyMedium;
    font-size:1rem;
    color:white;
    background-color:rgba(165,65,65,0.74);
    border-radius:25px;
    justify-content: center;
    align-items:center;
    padding:10px;
    text-align: center;
}
#homeFooter{
    flex:1;
    background-color: rgba(26,169,255,0.3);;
}
#attractZone {
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.57) 0%, rgba(255,255,255,0.57) 100%); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#attractZone1 {
    width: 90%;
    height: 100px;
    background-color: #4A9F67;
    opacity: 0.7;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    border-radius: 10px;
}

#attractZone3 > h2{
    font-size:1.2rem;
}

#attractZone3 > p{
    font-size:0.8rem;
}

#attractZone1 span {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    
}

#bigZoneAttract {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}
#attractZone2 {
    /* width: 27vw; */
    /* min-width: 350px; */
    height: 56vh;
    background-color: rgba(165,65,65,0.61);
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

#attractZone2:before {
    position: absolute;
    /* width: 27vw; */
    /* min-width: 350px; */
    height: 56vh;
    background-color: rgba(165,65,65,0.3);
    border-radius: 10px;
    content: "";
}

#azImg1 {
    width: 90%;
    height: 31vh;
    justify-self:flex-start;
}

#azImg2 {
    width: 45%;
    height: 19vh;
}
#azImg3 {
    width: 45%;
    height: 19vh;
}
#attractZone3 {
    /* width: 27vw; */
    /* min-width: 350px; */
    height: 56vh;
    background-color: rgba(165,65,65,0.61);
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
    text-align: justify;
    border-radius: 10px;
    overflow: auto;
    }

#infoZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(74,159,103, 0.31); 
}

#formRegister {
    height: 100vh;
    background-color: #a54141;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

/* .formResponsive {
    height: 50%;
    
} */

input[type=text] {
    padding:10px;
    border:0;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
	width: 150px;
	float: right;
    margin-left:2vw;
}
input[type=password]{
    padding:10px;
    border:0;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
	width: 150px;
	float: right;
    margin-left:2vw;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: 1rem;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    background-color: #E8D5D4;
}

#infoContainer {
    display: flex;
    flex-wrap: wrap;
    height : 100vh;
    justify-content: space-around;
    width: 100%;
    /* margin-left: 3%; */
}
#info{
    display:flex;
    flex-direction:column;
    /* flex: 1; */

}
.info1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex:1;
    max-height: 40vh;
    margin-top: 10vh;
    /* margin-left: 26%; */
    border-radius: 15px;
    text-align: center;
    /* max-width: 40vw; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgba(159, 89, 83, 0.7);
    color: #FFFFFF;
}

.info2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex:2;
    max-height: 40vh;
    /* margin-left: 26%; */
    border-radius: 15px;
    text-align: center;
    /* max-width: 40vw; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgba(68, 152, 186, 0.7);
    color: #FFFFFF;
}
.info2 > h1:last-of-type{
    margin-top: 5vh;
}

h1 {
    font-size: 1rem;
}

.info3 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex:1;
    max-height: 40vh;
    border-radius: 15px;
    /* max-width: 40vw; */
    text-align: center;
    /* margin-left: 26%; */
    margin-bottom:10vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgba(159, 89, 83, 0.7);
    color: #FFFFFF;
}

#map {
    margin-top: 10vh;
    height: 80vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

iframe {
    width: 40vw;
    flex: 1;
    height: 80vh;
    opacity: unset;  
    border-radius: 15px;
}

fieldset div {
    padding: 10px;
}

.legend1 {
    font-size: 1rem;
    width: 100%;
    text-align: center;
}



input[type=submit] {
    margin: 10px 40% 10px 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#formResa, #place {
    height: 100vh;
    background-color: #a54141;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

#time {
    margin-bottom: 15px;
}

#shopName {
    margin-bottom: 15px;
}

footer {
    background-color: #4A9F67;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #A5D5F7;
}

footer a {
    text-decoration: none;
    color: #A5D5F7;
}

#footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer img {
    height: 20px;
}
#asLogo {
    height: 50px;
}
#logoSocialMedia {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#place{
    display:flex;
    flex-direction:column;
    height:100vh;
}
#placeHeader{
    flex:1;
}
#placeMain{
    display:flex;
}

#placeBlock1{
    width: 100%;
    display:flex;
    flex-direction:column;
    flex: 1;
    border-radius:15px;
    margin-left:5%;
    margin-right:5%;
    background-color: #a54141;
    opacity: 0.7;
}
@media screen and (max-widht :780px){ 

    #placeMain{
        flex-direction: column;  
    }

}
#placeBlock2{
    width: 100%;
    display:flex;
    flex-direction:column;
    flex: 1;
    border-radius:10px;
    margin-right:5%;
    margin-left:5%;
}

#placeTitle{
    display:flex;
    flex:1;
    background-color: #E8D5D4;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-family:SpotifyMedium;
    font-size:1rem;
    justify-content:center;
    align-items:center;
}
#placeSpecs{
    display:flex;
    flex:3;
    background-color: #E8D5D4;
    font-family:SpotifyMedium;
    font-size: 1rem;
}
#placeCategories{
    display:flex;
    flex-direction: column;
    flex:1;
    background-color: #E8D5D4;
}
#placeCategories > div{
    margin-left:5vw;
    margin-top:2vh;
    margin-bottom:2vh;
}
#placeCategories > div:first-child{
    margin-top:8vh;
    margin-bottom:2vh;
}
#placeCatInfos{
    display:flex;
    flex-direction: column;
    flex:1;
    background-color: #E8D5D4;
    border-left:3px solid gray;
}
#placeCatInfos > div{
    margin-left:5vw;
    margin-top:2vh;
    margin-bottom:2vh;
}
#placeCatInfos > div:first-child{
    margin-top:8vh;
    margin-bottom:2vh;
}
#sellerInfos{
    flex:1;
    background-color: #E8D5D4;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align:center;
    font-family:SpotifyMedium;
    font-size:1rem;
}
#sellerInfos > p > img{
    max-height: 4vh;

}
#placeMap{
    flex:1;
}
#placeMap > img{
    max-width: 100%;
    height:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
#sellerInfos > p{
    margin:2vw;
}
#mapInfo{
    display:flex;
    flex:1;
    background-color: #E8D5D4;
    opacity:0.7;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    font-size:1rem;
    text-align:center;
    font-size:1rem;
    font-family:SpotifyMedium;
    align-items:center;
}
#mapInfo > p{
    margin:4vw;
}
#placeFooter{
    flex:1;
}

/* ajout des medias queries pour le reponsive  */

@media screen and (max-width: 780px){

    #menu {
        top: 0;
        margin-top: -20px;
        position: fixed;
        background-color: #4A9F67;
        height: 14vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        z-index: 100;
    }

    .logo {
        padding-right: 30px;
        width: 100%;
        z-index: 99;
        padding-top: 30px;
                
    }
    
    ul {
        padding-left: 5px;
            }


    li {
        font-size: 0.7rem;
    }
    
  #bigZoneAttract{
        flex-direction: column;
        flex-wrap: wrap;
    }

    #infoContainer {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: flex-end;
        height : 100vh;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        /* z-index: -50; */
        
 }

    #infoZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        flex: 1;
        background-color: rgb(74,159,103, 0.31);
    }

    #info{
        display:flex;
        flex-direction:column;
        /* flex: 1; */
        z-index: 50;
    
    }

    .info1 {
        margin-top: 5vh;
        padding-top: 5%;  
        padding-bottom: 5%;
        flex: 1;      
    }


    .info2 {
        padding-top: 5%;  
        padding-bottom: 5%;
        flex: 1;
    }

    .info3 {
        margin-bottom:-10%;
        padding-top: 5%;  
        padding-bottom: 5%;
        flex: 1;
    }

#map, iframe  {
        place-self: center;
        align-self: center;
        /* position: absolute;   */
        width: 100%;
        height: 60%;
        /* padding-bottom: 100px */
        /* z-index: 50; */
        display: block;
}

#map {
    /* margin-top: 10vh; */
    /* height: 80vh; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#attractZone2 {
    /* width: 27vw; */
    /* min-width: 350px; */
    height: 56vh;
    background-color: rgba(165,65,65,0.61);
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

#attractZone2:before {
    position: absolute;
    /* width: 27vw; */
    /* min-width: 350px; */
    height: 56vh;
    background-color: rgba(165,65,65,0.3);
    border-radius: 10px;
    content: "";
}

#azImg1 {
    width: 90%;
    height: 20vh;
    justify-self:flex-start;
}

#azImg2 {
    width: 45%;
    height: 19vh;
}
#azImg3 {
    width: 45%;
    height: 19vh;
}

#placeMain{
    flex-direction: column;
    justify-content: space-around;
    gap: 2%;

    }
    #placeBlock1{
        display:flex;
        flex-direction:column;
        flex: 1;
        border-radius:15px;
        margin-left:5%;
        margin-right:5%;
        padding-top: 5%;
        background-color: #a54141;
        opacity: 0.7;
    }
    #placeBlock2{
        display:flex;
        flex-direction:column;
        flex: 1;
        border-radius:10px;
        margin-right:5%;
        margin-left:5%;
        /* padding-top: 5%; */
        padding-bottom: 5%;
    }
}

/* créer media pour la nav, avec display none pour le menu, et une icone pour menu burger */